<div id="banner-top">
	    <a href="{% url 'inquiry' %}"><h1 class="pagetitle"> DH Tool Selector</h1></a>
	    <ul>
		    <li><a href="{% url 'inquiry' %}">Home</a></li>
		    <li><a href="http://www.library.upenn.edu/">Penn Library</a></li>
            <li><a href="https://github.com/upenndigitalscholarship/DHToolSelector" target="_blank">Github</a>
		    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdP98miovKx6x3uHYrGF5PbdDAgXYwAP5HTAwfxG3zAfFIkKg/viewform">Feedback</a></li>
            <li><a href="{% url 'admin:index' %}" target="_blank">Login</a>
	    </ul>
    </div>
    <div id="second-banner">
	    <ul class="nav navbar-nav">
		    <!-- <li class="Instruction"><a href="#">Help</a></li> -->
	    </ul>
    </div>
