<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% extends "base.html" %}
{% load static %}
{% block content %}
	{% include 'top-banner.html' %}
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />

	<div class="jumbotron text-center">
  <h1 id="Welcome"> Welcome to the Digital Humanities Tool Selector! </h1>
  <h2 id="h2"> What kind of tools are you looking for? </h2>
	</div>

	{% if inquiry_all %}
		<div class="container">
			<div class="row">
				{% for inquiry in inquiry_all %}
					<div class="col-sm-6">
						<p class="inquiries_list" style="text-align:center; font-size:30px; margin-left: 10px">{{inquiry.name}}</p>
						<p style="text-align:center; margin-left: 10px">Brief introduction about this inquiry</p>
						<button type="button" class="btn btn-info" style="margin-left: 200px"><a href="{% url 'page' inquiry.id %}">Go to this tool selector</a></button>
					</div>
				{% endfor %}
			</div>
		</div>

	{% else %}
		<p class="no_results">No inquiries are available.</p>
	{% endif %}
{% endblock content %}
