{% extends "base.html" %}
{% load static %}
{% block content %}
	{% include 'top-banner.html' %}
	<h1 id="Welcome"> Welcome to the Digital Humanities Tool Selector! </h1>
	<h2 id="h2"> What kind of tools are you looking for? </h2>
	{% if inquiry_all %}

		{% for inquiry in inquiry_all %}
			<p class="inquiries_list"><a id="inquiries_link" href="{% url 'page' inquiry.id %}">{{inquiry.name}}</a></p>
		{% endfor %}

	{% else %}
		<p class="no_results">No inquiries are available.</p>
	{% endif %}
{% endblock content %}
